beautifulsoup4==4.9.1
bleach==3.1.5
blinker==1.4
boto==2.49.0
boto3==1.16.18
botocore==1.19.18
Bottleneck==1.3.2
enum-compat==0.0.3
et-xmlfile==1.0.1
fastcache==1.1.0
ffmpeg==1.4
filelock==3.0.12
flake8==3.8.3
Flask==1.1.2
fsspec==0.7.4
future==0.18.2
gast==0.3.3
gitdb==4.0.5
GitPython==3.1.11
glob2==0.7
gmpy2==2.0.8
google-auth==1.21.2
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
greenlet==0.4.16
h5py==2.10.0
HeapDict==1.0.1
hpack==3.0.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==5.5.3
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.2
jmespath==0.10.0
nbformat==5.0.7
nose==1.3.7
notebook==6.0.3
numba==0.50.1
numexpr==2.7.1
numpy==1.19.2
opencv-contrib-python==4.4.0.42
opencv-python==4.4.0.44
pandas
pandocfilters==1.4.2
paramiko==2.7.1
parso==0.7.0
partd==1.1.0
path==13.1.0
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
pkginfo==1.5.0.1
pluggy==0.13.1
ply==3.11
prometheus-client==0.8.0
prompt-toolkit==3.0.5
protobuf==3.13.0
psutil==5.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycosat==0.6.3
pydeck==0.5.0
pyflakes==2.2.0
Pygments==2.6.1
pylint==2.6.0
PyQtWebEngine==5.15.1
pyreadline==2.1
pyrsistent==0.16.0
PySocks==1.7.1
pytesseract==0.3.6
pytest==5.4.3
XlsxWriter==1.2.9
xlwings==0.19.5
xlwt==1.3.0
zipp==3.1.0
zope.event==4.4
zope.interface==4.7.1
